@import "normalize.scss";
@import "header.scss";
@import "footer.scss";

.best__article {
   padding: 1rem;
   border: 1px solid #D1D1D1;
   border-radius: 12px;
   position: relative;
   display: flex;
   flex-direction: column;
   position: relative;
   max-width: 270px;
}
.best__image {
   margin-bottom: 1rem;

   & img{
      width: 100%;
   }
}
.discount{
   position: absolute;
   top: 1.5625rem;
   left: 1.625rem;
   font-weight: 600;
   font-size: 0.75rem;
   color: $clr-green;
   background: #F4F8EC;
   border-radius: 12px;
   padding: 2px 6px;
}

.best__title {
   font-weight: 500;
   font-size: 0.9375rem;

}
.best__text {
   font-size: 0.75rem;
   color: $clr-smll-text;
   margin-bottom: 1rem;
   flex: 1;
}
.best__price {
   display: flex;
   justify-content: space-between;
   align-items: center;

   & span{
      position: absolute;
      bottom: 0.625rem;
      left: 1rem;
      font-weight: 600;
      font-size: 0.75rem;
      text-decoration: line-through;
      color: #A9A9A9;
   }
}
.best__number {
   font-weight: 600;
   font-size: 1.125rem;
   line-height: calc(27/18);

 
}
.best__button {
   font-weight: 700;
   font-size: 0.9375rem;
   color: #ffff;
   padding: 0.4063rem 0.75rem;
   background-color: $clr-green;
   border: 2px solid #46760A;
   border-radius: 12px;
   display: inline-block;
   transition: .3s;

   &:hover{
      background-color: #5da10a;
   }
}

.breadcrumbs{
   padding-top: 1rem;
   padding-bottom: 1rem;
 }
 .breadcrumbs__list{
   display: flex;
   font-family: 'Open Sans';
 }
 .breadcrumbs__list li{
   position: relative;
 }
 .breadcrumbs__list li + li{
   text-decoration: underline;
 }
 .breadcrumbs__list li + li::before{
   content: '/';
   position: absolute;
   top: 50%;
   left: -12px;
   transform: translateY(-50%);
   font-size:1rem;
   color: #D1D1D1;
 }
 .breadcrumbs__list li:not(:last-child){
   margin-right: 1.25rem;
 }
 .breadcrumbs__list li a{
   
   font-weight: 400;
   font-size: 0.75rem;
   color: #151515;
 }